@{
    ViewData["Title"] = "Home Page";
}

@{
    List<Todo> todos = ViewBag.Todos;
    
    <h3>Not Completed todo list</h3>
    foreach (Todo item in todos)
    {
        <div>
            <div>Title :@item.Description</div>
            <div>Completed :@item.Completed</div>
            <br />
        </div>
    }
}